{% extends 'layout.twig' %}

{% set pageTitle = 'Fedict - Aboutpage' %}

{% block pageContent %}
    <h2>About</h2>
    <div class="about">
        <p>This website is made for easily searching and filtering data.</p>
        <p>At the home page you'll find 3 filter options to choose from:</p>

        <ul>
            <li>Catalog</li>
            <li>Dataset</li>
            <li>Distribution</li>
        </ul>

        <h3>Catalog</h3>
        <p>Provides data exchange.
            Currently there is only one catalog being used: the services of <a href="http://fsb.rovin.be/" target="_blank">http://fsb.rovin.be/</a>
        </p>

        <h3>Dataset</h3>
        <p>Data that is related to service families and service.</p>
        <p>For example: <a href="http://fsb.rovin.be/family/S216-eInvoiceServices">http://fsb.rovin.be/family/S216-eInvoiceServices</a></p>
        <p>This specific dataset consists from 2 distributions (mini-datasets):
            <a href="http://fsb.rovin.be/service/S218-SupplierService">S218-SupplierService</a> &
            <a href="http://fsb.rovin.be/service/S217-CustomerService">S217-CustomerService</a>
        </p>
        <h3>Distribution</h3>
        <p>Data that is related to service methods and services.</p>
        
        <h3>GitHub repository</h3>
        <p>If you want to see the source code, please visit our <a href="https://github.com/osoc16/webinterface-fedict" target="_blank">github repo</a>!</p>

    </div>

{% endblock %}