{% extends 'layout.twig' %}

{% set pageTitle = 'Fedict - Aboutpage' %}

{% block pageContent %}
    <h2>About</h2>
    <div class="about">
        <p>This website is made for easily searching and filtering data.</p>
        <p>At home page you'll find 3 filter options to choose from:</p>

        <ul>
            <li>Catalog</li>
            <li>Dataset</li>
            <li>Distribution</li>
        </ul>

        <h3>Catalog</h3>
        <p>Provides data exchange.
            Currently there is only one that's being used: <a href="http://fsb.rovin.be/" target="_blank">http://fsb.rovin.be/</a>
        </p>

        <h3>Dataset</h3>
        <p>Collection of datas that are related to one family.</p>
        <p>For example: <a href="http://fsb.rovin.be/family/S216-eInvoiceServices">http://fsb.rovin.be/family/S216-eInvoiceServices</a></p>
        <p>This specific dataset consists from 2 distributions (mini-datasets):
            <a href="http://fsb.rovin.be/service/S218-SupplierService">S218-SupplierService</a> &
            <a href="http://fsb.rovin.be/service/S217-CustomerService">S217-CustomerService</a>
        </p>
        <h3>Distribution</h3>
        <p>Sometimes called method because it provides the specific data that's requested.</p>
        
        <h3>GitHub repository</h3>
        <p>If you want to look in the source code, please visit our repo!</p>
        <p><a href="https://github.com/osoc16/webinterface-fedict" target="_blank">https://github.com/osoc16/webinterface-fedict</a></p>
    </div>

{% endblock %}