<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ pageTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../dist/css/generic.css" />
    <link rel="stylesheet" href="../dist/css/style.css" />
</head>
<body>
    <a href="index.php"><h1>Webservices</h1></a>
    <div class="nav">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
        <div class="pagecontent">
            {% block pageContent %}
            {% endblock %}
        </div>
        <div class="footer">
            </br>Copyright (c) 2016 Open Knowledge Belgium - Fedict
        </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
        var fragmentsClient = new ldf.FragmentsClient('http://185.14.185.158:5000/triplestore');
        /*
        var query = 'SEL    ECT * { ?s a <http://www.w3.org/ns/dcat#Catalog> . ' +
                        '       <http://fsb.rovin.be> ?p ?o .'
                            +'} LIMIT 100',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
        */

      /*  var query = 'SELECT * { ?s <http://www.w3.org/ns/dcat#dataset> ?o. ' +
                                '?s ?p ?o .'

                        +'} LIMIT 100',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
    */

/*        var query = 'SELECT * { ?s <http://www.w3.org/ns/dcat#distribution> ?o. ' +
                        '?s ?p ?o .'

                        +'} LIMIT 100',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
*/
       /* var query = 'SELECT * { <http://fsb.belgium.be/edrl/ActivityService/v1_00> ?p ?o. '
                        +'} LIMIT 100',
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
*/
  /*      var query = 'SELECT ?s ?p ?o  WHERE { ?s ?p ?o .FILTER regex(?s, \"aaaaaaa\") .}'
                ,
                results = new ldf.SparqlIterator(query, { fragmentsClient: fragmentsClient });
        */
        results.on('data', function (data) {
           console.log(data)
        });
    </script>
</body>
</html>