{% extends 'layout.twig' %}

{% set pageTitle = 'Webservice' %}

{% block pageContent %}
    <h1>Webservice Detailpage</h1>

    <h2>{{ name }}</h2>
    <p>Description: {{ description }}</p>
    <p>Method: {{ method }}</p>

{% endblock %}