{% extends 'layout.twig' %}

{% set pageTitle = 'Webservices' %}

{% block pageContent %}
    {{ dump(services) }}

    {% for service in services %}
        <div>
            <p>name={{ service.name }}</p>
            <p>description="{{ service.description }}"</p>
            <p>uri="{{ service.uri }}"</p>
        </div>
    {% endfor %}
{% endblock %}