<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div style="display:flex;align-items: center; justify-content: center">

                    <a href="http://www.openknowledge.be/">
                        <img src="img/logos/open.png" class="img-responsive img-centered" alt="" style="max-width:200px;">
                    </a>


                    <a href="http://www.fedict.belgium.be/nl">
                        <img src="img/logos/fedict.png" class="img-responsive img-centered" alt="" style="max-width:300px;">
                    </a>


            </div>
        </div>
    </aside>