<!-- Clients Aside -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="section-heading">#oSoc16</h2>
                    <h3 class="section-subheading text-muted"> <a href="http://open.summerofcode.be/"> Open Summer of code</a> is a 4 week programme in different Belgian cities during the summer of 2016. The goal: provide Belgian based students the training, network and support necessary to transform open innovation projects into powerful real-world services.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="section-heading">Partners</h2>

            <div style="display:flex;align-items: center; justify-content: center">

                    <a href="http://www.openknowledge.be/">
                        <img src="img/logos/open.png" class="img-responsive img-centered" alt="" style="max-width:200px;">
                    </a>


                    <a href="http://www.fedict.belgium.be/nl">
                        <img src="img/logos/fedict.png" class="img-responsive img-centered" alt="" style="max-width:300px;">
                    </a>


            </div>
        </div>
            </div>
        </div>
    </section>