<!-- Services Section -->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Work</h2>
                    <h3 class="section-subheading text-muted">This is what we've done.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">WSDL2DCAT converter</h4>
                    <p class="text-muted">This web interface is an easy to use tool for external people who would like to search and inspect datasets.
                        It utilises <a href="https://github.com/LinkedDataFragments/Client.js" target="_blank">LDF Client</a> and
                        <a href="https://github.com/LinkedDataFragments/Server.js" target="_blank">LDF Server</a> behind the scenes.
                        And it's designed to be compatible with all browsers and mobile devices.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publishing</h4>
                    <p class="text-muted">We published lightweight Linked Data with a Triple Pattern Fragments server. It requires minimal server effort and enable efficient client-side querying</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web interface</h4>
                    <p class="text-muted"> Our web interface uses a Triple Pattern Fragments client which can solve many SPARQL queries efficiently.
                    As data user it is possible to browse between the Linked data files and search for a specific catalog, dataset or distribution.</p>
                </div>
            </div>
        </div>
    </section>