<!-- About Section -->
    <section id="problemsnsolutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Problems and solutions</h2>
                    <h3 class="section-subheading text-muted">This timeline describes the problems we had and the solutions we've made. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Problem</h4>
                                    <h4 class="subheading">Standalone descriptions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fedict has some standalone description files of several services. The files are not queryable. There is no link between the services, nor their methods.  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Solution</h4>
                                    <h4 class="subheading">WSDL2DCAT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the <a href="https://github.com/osoc16/WSDL2DCAT" target="_blank">wsdl2dcat converter</a> there is a link from the service families down to the desciption of the service methods.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Problem</h4>
                                    <h4 class="subheading">Publishing linked open data</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">How do we make the standalone files accessible?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Solution</h4>
                                    <h4 class="subheading">Ldf-server</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the ldf-server every linked dataset can be accessed and queried by a ldf-client.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Problem</h4>
                                    <h4 class="subheading">Interface for data consumer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Their is no easy queryable interface for data consumers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Solution</h4>
                                    <h4 class="subheading">Web interface</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the <a href="http://wsdl2dcat.be/" target="_blank">web interface</a> it is possible for every data consumer to browse through all of the data layers.
                                        .</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://github.com/osoc16/WSDL2DCAT/pulls" target="_blank"> <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                                    </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>